.header {
    width: 100%;    
    margin-bottom: 10px;
    color: black;
  }
  
  .title {
    text-align: center;
    font-size: 60px;
    
  }
  
  .scores {
    text-align: center;
    font-size: 40px;
  }